<h3>Trainer</h3>

<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>


<div class="container">
  <div class="row">
    <h3>Pokemon</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @myPokemon.each do |pokemon| %>
            <tr>
            	<p>Name: <%= pokemon.name if pokemon.name %></p>
            	<p>Level: <%= pokemon.level if pokemon.level %></p>
            	<p>Health: <%= pokemon.health %></p>
				<%= image_tag("pokemon/#{pokemon.ndex}.png", alt: "pokemon") %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
